<div class="container">
  <div class="headblock">
    <div class="title-frame">
      <h2>Medals per Country</h2>
    </div>
    <div class="content-frame">
      <div class="frame">
        <h3>Number of JOs</h3>
        <p>{{ olympicData.length }}</p>
      </div>
      <div class="frame">
        <h3>Number of countries</h3>
        <p>{{ countriesCount }}</p>
      </div>
    </div>
  </div>

  <div class="centered-chart">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="olympicData"
      (select)="onSelect($event)"
      [gradient]="gradient"
      [labels]="labels"
      [explodeSlices]="explodeSlices"
      [animations]="animations"
      >
    </ngx-charts-pie-chart>
  </div>

</div>
