/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Roboto', sans-serif;
}

.title-frame {
  background-color: #04838f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  margin: 20px;
  width: fit-content;
  & h2 {
    text-align: center;
    margin: 0;
    padding:  5px 10px;
    font-size: 32px;
    font-weight: 300;
  }
}

.content-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  margin: 20px auto;
  & .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  5px 10px;
    border: 2px solid #04838f;
    border-radius: 8px;
    background-color: white;
    & h3 {
      text-align: center;
      margin: 0;
      padding: 5px;
      font-size: 16px;
      font-weight: 200;
      color: rgb(135, 135, 135)
    }
    & p {
      text-align: center;
      margin: 0;
      padding: 5px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
